/* ---------------------------------------------------------------------------- */
/* ---------------------------------- BASE ----------------------------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 60em){
    .site-name-container h1{
        margin-top: 3rem;
        font-size: 3rem;
    }

    .navBar{
        display: flex;
        align-items: end;
    }    

}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------- HOME----------------------------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 60em){
    .main-content h1 {
        font-size: 6rem;
    }
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------- FRESH ----------------------------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 60em){
    .fresh-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 2rem 1.5rem;
      }     
      .modal__content {
        grid-template-columns: 1fr 1fr 1fr;
}}