/* ----------------- MEDIUM CSS ------------------- */

@media screen and (min-width: 48em){

  .site-name-container h1{
    margin-top: 3rem;
}

    main {
        display: grid;
        gap: 1rem;
        grid-template-areas:
          "hero  hero  hero  hero"
          "news  news  news  news"
          "spot  spot  spot  spot"
          "join  join  join  join"
          "event event event weather";
      }

      .hero {
        grid-area: hero;
      }
    
      .event {
        grid-area: event;
      }
    
      .weather {
        grid-area: weather;
      }
    
      .news-release {
        grid-area: news;
      }
    
      .spotlights {
        grid-area: spot;
        display: flex;
        gap: 1.6rem;
        justify-content: space-between;
      }

      .spotlights section {
        width: 100%;
      }
    
      .join {
        display: block;
        grid-area: join;
      }

      .company-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

    .footer-logo {
        display: flex;
        align-items: center;
      }

      .banner {
        font-size: 18px;
    }
      

}
