@media (min-width: 60em) {

.portrait {
    grid-column: 5/6;
    width: 140%;
    margin: -30px;
    
}


.name {
    font-size: 50px;
    text-align: left;
    position: absolute;
    color:black;
    margin: 10px 15px 0 -5px;
    font-family: 'M PLUS Rounded 1c', cursive;
}
}